<h2 mat-dialog-title><span class="px-2 pt-2" (click)="onReturn()"><button mat-icon-button aria-label="return">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</span>
</h2>
<mat-dialog-content class="mat-typography flex flex-wrap">
   <span><button mat-button class="w-full lg:w-1/5"> 0 - 6m </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 6m - 10m </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 10m - 14m </button></span> 
   <span><button mat-button class="w-full lg:w-1/5"> 14m - 18m </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 18m - 22m </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 22m - 30m </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 30m - 50m </button></span>  
   <span><button mat-button class="w-full lg:w-1/5"> 50m - 100m </button></span> 
   <span><button mat-button class="w-full lg:w-1/5"> 100m - 200m </button></span> 
</mat-dialog-content>

<div class="mx-3">
    <mat-divider></mat-divider>

</div>

<div class="flex flex-wrap p-3 justify-center" >

       
        <div class="lg:!pb-2 w-full px-1 lg:w-1/5">
            <mat-form-field class="full-width">
                <input
                matInput
                name="firstname"
                placeholder="Min. Price"
                value="">
            </mat-form-field>
        </div>
        <div class="invisible lg:visible"> - </div>
        <div class="!pb-2 w-full px-1 lg:w-1/5">
            <mat-form-field class="full-width">
            <input
                matInput
                type="text"
                name="email"
                placeholder="Max. Price"
                value="">
            </mat-form-field>
        </div>
    </div>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Reset</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>

