<h2 mat-dialog-title><span class="px-2 pt-2" (click)="onReturn()"><button mat-icon-button aria-label="return">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</span>
</h2>
<mat-dialog-content class="mat-typography float-start">

   <mat-checkbox
   name="DVT"
  class="!pb-1 w-full lg:w-1/5">Hiace</mat-checkbox>

  <mat-checkbox
  name="DVT"
 class="!pb-1 w-full lg:w-1/5">Venza</mat-checkbox>

 <mat-checkbox
 name="DVT"
class="!pb-1 w-full lg:w-1/5">Hilux</mat-checkbox>

<mat-checkbox
name="DVT"
class="!pb-1 w-full lg:w-1/5">Corolla</mat-checkbox>

<mat-checkbox
name="DVT"
class="!pb-1 w-full lg:w-1/5">Camry</mat-checkbox>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Reset</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>