<div class="handle" *ngIf="!isChatboxOpen">
  <button mat-fab color="primary" (click)="isChatboxOpen = true">
    <mat-icon class=" text-white">record_voice_over</mat-icon>
  </button>
</div>

<div id="app-customizer" *ngIf="isChatboxOpen">
  <div class="sm:mx-8">
    <mat-card class="p-0">
      <mat-sidenav-container class="chat-container">
        <!-- Left sidebar -->
        <mat-sidenav class="chat-sidenav" [opened]="isSidenavOpen" mode="side">
          <app-assistant-sidenav></app-assistant-sidenav>
        </mat-sidenav>
  
        <!-- Right side -->
        <div class="chats-wrap">
          <!-- Right side topbar -->
          <app-assistant-content [matSidenav]="sideNav" (chatBoxOpen)="toggleChatBox($event)"></app-assistant-content>
  
        </div>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>
