<h2 mat-dialog-title><span class="px-2 pt-2" (click)="onReturn()"><button mat-icon-button aria-label="return">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</span>
</h2>
<mat-dialog-content class="mat-typography flex flex-wrap">
   <span><button mat-button class="w-full lg:w-1/5"> Toyota</button></span>
   <span><button mat-button class="w-full lg:w-1/5"> Lexus </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> Ford </button></span> 
   <span><button mat-button class="w-full lg:w-1/5"> Mercedes-Benz </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> Honda </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> Porsche </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> Tesla</button></span>  
   <span><button mat-button class="w-full lg:w-1/5"> Hyundai</button></span> 
</mat-dialog-content>

<div class="mx-3">
    <mat-divider></mat-divider>

</div>

