<mat-progress-bar mode="determinate" class="absolute top-0 left-0 right-0 invisible" [ngClass]="{'!visible': isLoading}"></mat-progress-bar>

<div class="flex min-h-screen bg-card relative overflow-hidden screen-bottom-left-gradient screen-bottom-right-gradient">
    <!-- Container with gradient effects applied via SCSS -->
    <div class="container flex min-h-screen mx-auto relative z-10" [@animate]="{value:'*',params:{y:'40px',opacity:'0',delay:'100ms', duration: '400ms'}}">
  
      <!-- Left Column -->
      <div class="flex-1 flex flex-col items-center justify-center p-8">
        <div class="flex items-center gap-2 mb-12">
          <img src="../../../../assets/images/logos/CRNK/CRNK 2 NBG.svg" alt="CRNK" class="h-8">
        </div>
        <div class="w-full max-w-md">
          <div class="mb-6">
            <h1 class="text-2xl font-semibold">Reset Password</h1>
            <p class="text-secondary">Enter a new password</p>
          </div>
  
          <p *ngIf="errorMsg" class="text-center mb-4 text-red-500"><small>{{errorMsg}}</small></p>
  
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmail()" class="space-y-4">
              <div>
                <mat-form-field class="w-full">
                  <mat-label>New Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="＊＊＊＊＊＊＊"
                   >
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="forgotPasswordForm.get('password')?.hasError('required')">Required
                </mat-error>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field class="w-full">
                  <mat-label>Confirm New Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="＊＊＊＊＊＊＊"
                   >
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="forgotPasswordForm.get('confirmPassword')?.hasError('required')">Required
                </mat-error>
                </mat-form-field>
              </div>
  
            <button 
              mat-flat-button 
              color="primary" 
              class="w-full py-2" 
              [disabled]="forgotPasswordForm.invalid">
              Submit
            </button>
            
            <div class="text-center pt-4">
              <span class="text-secondary"></span>
              <a routerLink="/auth/signin" class="text-blue-500 hover:text-blue-600">Sign in</a>
            </div>
            
            
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  