<mat-progress-bar mode="determinate" class="absolute top-0 left-0 right-0 invisible" [ngClass]="{'!visible': isLoading}"></mat-progress-bar>

<div class="page-layout overflow-hidden pb-8">
    <div class="header-bg bg-primary"></div>
    <div class="content">
      <div class="content-header flex flex-wrap justify-center items-center mb-4 ">
        <div class="search-box flex flex-grow items-center crnk-search-bar w-96">
          <input class="bg-card " type="text" (keyup)="updateSearchTerm(serachTerm.value)" placeholder="Enter a VIN or Chassis Number" #serachTerm />
          <button mat-icon-button class="hover:fg-divider"><mat-icon>search</mat-icon></button>
        </div>
      </div>
  
      <div class="content-body">
        <div class=" flex flex-col h-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>