<mat-progress-bar mode="determinate" class="absolute top-0 left-0 right-0 invisible" [ngClass]="{'!visible': isLoading}"></mat-progress-bar>

<div class="page-layout overflow-hidden pb-8">
    <div class="header-bg bg-primary"></div>
    <div class="content">
      <div class="content-body" >
        <div class="" >
            <mat-card class="p-1 md:p-4  overflow-x-auto">
                <mat-list>
                    <mat-list-item><h5> <a routerLink="/auth/signup" class =" hover:text-primary">Update payment information</a></h5></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><h5> <a routerLink="/auth/signup" class =" hover:text-primary">Contact us</a></h5></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><h5> <a routerLink="/auth/signup" class =" hover:text-primary">FAQ</a></h5></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><h5> <a routerLink="/auth/signup" class =" hover:text-primary">View Sessions</a></h5></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><h5> <a routerLink="/auth/signup" class =" hover:text-primary">Logout</a></h5></mat-list-item>
                  </mat-list>
              </mat-card>
        </div>
      </div>
    </div>
  </div>
