<!-- Left side topbar -->
<mat-toolbar color="primary" class="chat-sidebar-toolbar">
    <h6 class="m-0 pl-4 font-normal fz-1">History</h6>
  </mat-toolbar>
  <div [perfectScrollbar] class="chat-sidebar-scroll">
    <!-- Left side contact list -->
    <mat-divider></mat-divider>
    <div class="inbox-nav-list" role="list">
      <div class=" p-4 items-center cursor-pointer hover:bg-slate-100" *ngFor="let chat of chatHistory" (click)="getChatById(chat.id)">
        <!-- Main message content -->
        <div class="flex-1">
          <p class="mb-0">{{ chat.lastMessage.text }}</p>
        </div>
        
        <!-- Sender's name at the bottom with smaller font -->
        <div class="text-sm text-gray-500 mt-1">
          <p class="mb-0">{{ chat.lastMessage.time | date:'medium' }}</p>
        </div>
      </div>
      
      
  
    </div>
  </div>