<h2 mat-dialog-title><span class="px-2 pt-2" (click)="onReturn()"><button mat-icon-button aria-label="return">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</span>
</h2>
<mat-dialog-content class="mat-typography flex flex-wrap">
   <span><button mat-button class="w-full lg:w-1/5"> 2001 - 2005</button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 2006 - 2010 </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 2010 - 2015 </button></span> 
   <span><button mat-button class="w-full lg:w-1/5"> 2015 - 2020 </button></span>
   <span><button mat-button class="w-full lg:w-1/5"> 2020 - 2025 </button></span>


