<h2 mat-dialog-title>Filter List</h2>
<mat-dialog-content class="mat-typography">
    <mat-nav-list>
        <a href="javascript:void(0)" (click)="openLocationDialog()" mat-list-item >
            
             <span mat-line>Location</span>
             <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
             <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
             <div class="text-info">Abuja, Kubwa</div>
        </a>

        <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openPriceDialog()" mat-list-item >
            <span mat-line>Price</span>
            <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
            <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
          </a>

          <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openBrandDialog()" mat-list-item >
          <span mat-line>Brand</span>
          <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
        </a>

        <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openModelDialog()" mat-list-item >
          <span mat-line>Model</span>
          <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
        </a>

        <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openYearDialog()" mat-list-item>
          <span mat-line>Year</span>
          <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
        </a>

        <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openConditionDialog()" mat-list-item>
          <span mat-line>Condition</span>
          <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
          <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
        </a>

        <mat-divider></mat-divider>

        <a href="javascript:void(0)" (click)="openTransmissionDialog()" mat-list-item>
            <span mat-line>Transmission</span>
            <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
            <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
          </a>

          <mat-divider></mat-divider>

          <a href="javascript:void(0)" (click)="openBodyDialog()" mat-list-item>
            <span mat-line>Body</span>
            <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
            <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
          </a>

          <mat-divider></mat-divider>

          <a href="javascript:void(0)" (click)="openFuelDialog()" mat-list-item>
            <span mat-line>Fuel</span>
            <span class="float-right px-1 text-secondary" (click)="buttonClicked($event)"><mat-icon>add_circle_outline</mat-icon></span>
            <span class="float-right px-1 text-secondary"><mat-icon>remove_circle_outline</mat-icon></span>
          </a>


      </mat-nav-list>
      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Reset</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Apply</button>
</mat-dialog-actions>
