<h2 mat-dialog-title><span class="px-2 pt-2" (click)="onReturn()"><button mat-icon-button aria-label="return">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</span>
</h2>
<mat-dialog-content class="mat-typography flex flex-wrap" *ngIf="!showLga">
   <span><button mat-button (click)="displayLga()" class="w-full lg:w-1/3">Abia</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Adamawa</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Akwa-Ibom</button></span> 
   <span><button mat-button class="w-full lg:w-1/3">Anambra</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Bauchi</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Bayelsa</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Benue</button></span>
   <span><button mat-button class="w-full lg:w-1/3">Borno</button></span>  
</mat-dialog-content>

<mat-dialog-content  class="mat-typography flex flex-wrap" *ngIf="showLga">
    <span><button mat-button (click)="displayLga()" class="w-full lg:w-1/2">LGA1</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA9</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA8</button></span> 
    <span><button mat-button class="w-full lg:w-1/2">LGA3</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA3</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA4</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA7</button></span>
    <span><button mat-button class="w-full lg:w-1/2">LGA2</button></span>  
 </mat-dialog-content>

